@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$red: #D40000;
$black: #232326;
$wh: #F3F2F0;
$dark: #141416;

$r_mob_500: 500px;

html
{
    font-size: 10px;
    @media (max-width:$r_mob_500) 
    {
        font-size: 8px;
    }
}
body
{
    font-family: Inter;
    position: relative;
    color: $wh;
    background-color: $black;
}

.container
{
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    z-index: 0;
}
.block
 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}
.link
{
    text-decoration: none;
    transition: 0.3s;
    color: $wh;
    &:hover
    {
        color: $red;
    }
}
.header
{
    background-color: $black;
    margin: 0 auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    &__nav
    {
        flex-basis: 270%;
    }
    &__list
    {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        gap: 2.8rem;

    }
    &__link
    {
        font-size: 1.4rem;
        line-height: 1.5;
    }
    &__tel
    {
        border-right: 2px solid rgba($color: $wh, $alpha: 0.5);
        width: 140px;
        flex-basis: 37%;
    }
    &__mail
    {
        padding-left: 10px;
    }
}
.name
{
    padding-top: 2rem;
    margin-top: 10rem;
    z-index: 0;
    &__h1
    {
        margin-top: 12rem;
    }
    &__block
    {
        margin-top: 10.3rem;
        margin-bottom: 6rem;
    }
    &__img
    {
        width: 100%;
        height: auto;
    }
    &__soc
    {
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__flex
    {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 9.5rem;
        width: 100%;
        height: 177px;
        border-top: 2px solid rgba($color: $wh, $alpha: 0.5);
    }
    &__link
    {
        font-size: 1.6rem;
        border-right: 1px solid rgba($color: $wh, $alpha: 0.5);
        margin-left: 30px;
        &-vk
        {
            width: 43px;
        }
        &-inst
        {
            width: 100px;
        }
        &-git
        {
            border: none;
        }
    }
    &__head
    {
        position: relative;
    }
    &__sphere
    {
        position: absolute;
        top: -53px;
        left: -153px;
        z-index: -1;
    }
    &__ellipse
    {
        position: absolute;
        bottom: -42px;
        right: 39px;
        z-index: -1;
    }
}
.head-h1
{
    font-size: 7.4rem;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-weight: 700;
    z-index: 2;
    &__name
    {
        display: block;
        font-size: 2.8rem;
        line-height: 1.5;
        padding-bottom: 3.2rem;
        text-transform: none;
        font-weight: 400;
    }
}
.popup
{
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 700;
    position: relative;
    display: flex;
    align-items: center;
    width: 170px;
    text-decoration: none;
    color: $wh;
    z-index: 1;
    &:hover
    {
       &::before
       {
           width: 100%;
       }
    }
    &::before
    {
        display: block;
        position: absolute;
        content: "";
        height: 2px;
        width: 0;
        background-color: $wh;
        left: 0%;
        transition: 0.3s;
        bottom: -5px;
    }
    &::after
    {
        content: '';
        background-image: url(../img/Arrow.svg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 15px;
        height: 12px;
        position: absolute;
        right: 0;
    }
}
.item
{
    height: 81px;
    &-1
    {
        width: 220px;
        height: 107px;
    }
    &-2
    {
        width: 270px;
        height: 107px;
    }
    &__h1
    {
        letter-spacing: 0.03em;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 150%;
        margin-bottom: 1.5rem;
        &-up
        {
            text-transform: uppercase;
        }
    }
    &__text
    {
        font-size: 1.4rem;
        opacity: 0.8;
        line-height: 1.5;
        &-1
        {
            width: 200px;
        }
        &-2
        {
            width: 212px;
        }
        &-3
        {
            width: 204px;
        }
        &-4
        {
            width: 239px;
        }
    }
}
.about
{
    padding-top: 15rem;
    &__flex
    {
        display: flex;
        border-bottom: 1px solid rgba($color: $wh, $alpha: 0.5);
        justify-content: space-between;
        height: 228px;
    }
    &__h1
    {
        font-weight: 700;
        font-size: 2.8rem;
        line-height: 150%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
    }
    &__box
    {
        width: 560px;
        height: 168px;
    }
    &__text
    {
        font-size: 2.8rem;
        line-height: 150%;
        opacity: 0.8;
        margin: 0;
        padding: 0;
    }
    &__grid
    {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        padding-left: 58rem;
        padding-top: 2rem;
        height: 324px;
        width: 560px;
    }
}
.stage
{
    padding-top: 16rem;
    z-index: 0;
    &__flex
    {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid rgba($color: $wh, $alpha: 0.5);
        height: 102px;
    }
    &__h1
    {
        font-size: 28px;
        line-height: 150%;
        font-weight: 400;
    }
    &__text
    {
        font-size: 16px;
        line-height: 150%;
        opacity: 0.8;
    }
    &__box
    {
        width: 550px;
    }
    &__number
    {
        padding-right: 2.9rem;
    }
    &-h1
    {
        letter-spacing: normal;
        padding-bottom: 9rem;
        padding-top: 14rem;
    }
    &__ellipse
    {
        position: absolute;
        bottom: -191px;
        right: 345px;
        z-index: -1;
    }
}
.portfolio
{
    background: linear-gradient(180deg, #141416 0%, rgba(20, 20, 22, 0) 100%);
    z-index: 0;
    &__flex
    {
        display: flex;
        border-bottom: 1px solid rgba($color: $wh, $alpha: 0.5);
        justify-content: space-between;
        align-items: center;
        height: 436px;
    }
    &__h1
    {
        font-weight: 700;
        font-size: 28px;
        line-height: 150%;

    }
    &__list
    {
        list-style-type: none;
        margin-top: 3rem;
        padding-left: 0;
    }
    &__item
    {
        font-size: 16px;
        line-height: 150%;
        opacity: 0.8;
        padding-top: 1rem;
    }
    &__time
    {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        opacity: 0.8;
        padding-top: 2rem;
    }
    &__img
    {
        background-image: url(../img/fitness.png);
        width: 560px;
        height: 315px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    &__img-2
    {
        background-image: url(../img/shop.png);
        width: 560px;
        height: 315px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    &__des
    {
        padding-top: 15rem;
        border-bottom: 1px solid rgba($color: $wh, $alpha: 0.5);
        height: 230px;
    }
    &__describ
    {
        font-size: 28px;
        line-height: 150%;
        width: 870px;
    }
    &__grid
    {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding-top: 7rem;
        align-items: center;
        gap: 5rem;
        padding-bottom: 16rem;
    }
    &__item-grid
    {
        display: flex;
        align-items: center;
    }
    &__text-grid
    {
        padding-left: 4rem;
        width: 244px;
    }
    &__h1-grid
    {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
    }
    &__des-grid
    {
        font-size: 14px;
        line-height: 150%;
        opacity: 0.8;
    }
    &__table
    {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        align-items: center;
        padding-bottom: 4rem;
    }
    &__elem
    {
        border: 1px solid rgba($color: $wh, $alpha: 0.5);
        width: 283px;
        height: 148px;
        align-items: center;
        display: flex;
        justify-content: center;
        transition: 0.3s;
        &:hover
        {
            border: 1px solid rgba($color: $wh, $alpha: 1);
            .portfolio__element
            {
                filter: grayscale(0);
                opacity: 1;
            }
            .portfolio__tooltiptext
            {
                visibility: visible;
                opacity: 1;
            }
        }
    }
    &__element
    {
        filter: grayscale(1); 
        opacity: 0.5;
        transition: 0.3s;
    }
    &__top
    {
        display: block;
        padding-bottom: 0.7rem;
    }
    &__tooltip
    {
        position: relative;
        display: inline-block;
    }
    &__tooltiptext 
    {
        visibility: hidden;
        width: 188px;
        background-color: $red;
        color: $wh;
        text-align: center;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        top: 113%;
        left: 0;
        margin-left: -60px;
        font-weight: 500;
        font-size: 10px;
        line-height: 150%;
        opacity: 0.2;
        transition: 0.3s;
        &-vue
        {
            left: 6px;
        }
        &-php
        {
            left: 18px;
        }
        &-word
        {
            left: 5px;
        }
        &::after 
        {
            content: "";
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent $red  transparent;
        }
    }
}
.price
{
    padding-top: 14rem;
    &__head
    {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding-bottom: 8rem;
    }
    &__el
    {
        position: absolute;
        top: -51px;
        left: -68px;
        z-index: -1;
    }
    &__top
    {
        font-weight: 700;
        font-size: 28px;
        line-height: 150%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin: 0;
    }
    &__des
    {
        font-size: 2.8rem;
        line-height: 150%;
        opacity: 0.8;
        width: 548px;
        height: 168px;
        margin: 0;
    }
    &__item
    {
        border-top: 1px solid rgba($color: $wh, $alpha: 0.5);
        padding-top: 4rem;
    }
    &__first
    {
        display: flex;
        align-items: center;
        justify-content: start;
    }
    &__h1
    {
        font-size: 2.8rem;
        line-height: 150%;
        width: 382px;
        font-weight: 400;
    }
    &__descrip
    {
        display: block;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 150%;
        opacity: 0.8;
        padding-top: 2rem;
    }
    &__list
    {
        padding-left: 22.5rem;
    }
    &__enter
    {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        margin-left: -17px;
    }
    &__stage
    {
        font-size: 16px;
        line-height: 200%;
        opacity: 0.8;
        padding-top: 0.7rem;
    }
    &__second
    {
        display: flex;
        align-items: center;
        justify-content: start;
        position: relative;
    }
    &__elsmal
    {
        position: absolute;
        top: 30px;
        right: 503px;
    }
    &__rub
    {
        font-weight: 700;
        font-size: 4.2rem;
        line-height: 150%;
        padding-left: 42rem;
        z-index: 1;
    }
}
.form
{
    padding-top: 15rem;
    &__head
    {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding-bottom: 5.5rem;
        position: relative;
        border-bottom: 1px solid rgba($color: $wh, $alpha: 0.5);
    }
    &__h1
    {
        font-weight: 700;
        font-size: 28px;
        line-height: 150%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin: 0;
    }
    &__text
    {
        font-size: 28px;
        line-height: 150%;
        opacity: 0.8;
        width: 548px;
        height: 168px;
        margin: 0;
    }
    &__img
    {
        position: absolute;
        top: -32px;
        left: -181px;
        z-index: -1;
    }
    &__flex
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 6rem;
        padding-bottom: 10rem;
    }
    &__soc
    {
        width: 277px;
        display: flex;
        align-self: flex-end;
    }
    &__link
    {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 150%;
        color: $wh;
        transition: 0.3s;
        text-decoration: none;
        width: 50px;
        border-right: 2px solid rgba($color: $wh, $alpha: 0.5);
        margin-left: 30px;
        &-vk
        {
            width: 43px;
            margin-left: 0px;
            padding: 0;
        }
        &-inst
        {
            width: 100px;
        }
        &-git
        {
            border: none;
        }
        &:hover
        {
            color: $red;
        }
    }
    &__wrap
    {
        width: 560px;
    }
    &__label
    {
        display: block;
        font-size: 12px;
        line-height: 150%;
        opacity: 0.8;
        padding-bottom: 1rem;
    }
    &__input
    {
        background-color: rgba($color: $wh, $alpha: 0.1);
        font-size: 18px;
        font-weight: 400;
        border: none;
        margin-bottom: 20px;
        outline: none;
        width: 95%;
        padding-left: 25px;
        height: 60px;
        &::placeholder
        {
            font-weight: 400;
            font-size: 12px;
            line-height: 150%;
            opacity: 0.4;
        }
    }
    &__button
    {
        display: block;
        border: none;
        background-color: $red;
        color: $wh;
        padding: 2rem 23.5rem;
        margin-top: 4rem;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        cursor: pointer;
        transition: 0.3s;
        &:hover
        {
            background-color: #EA0E00;
        }
    }
}

.drop
{
    display:inline-block;
    position: relative;
    
    &__input
    {
      display:none;
      &:checked
      {
        ~.drop-items
        {
          opacity:1;
          max-height: 400px;
          padding: .6rem 0;
        }
        ~.control
        {       
          z-index:99;
          &:after{transform: rotate(180deg);}
        }
        ~.overlay-close
        {
          transform: none;
          pointer-events:initial;
        }
      }
    }
    
.control
{
    position:relative;
    color: $wh;
    display:inline-block;
    cursor: pointer;
    padding: 2.35rem 2rem 2.35rem 2rem;
    background-color: rgba($color: $wh, $alpha: 0.1);
    transition: all .3s ease;
    font-size: 12px;
    line-height: 150%; 
    width: 518px;   
    &:after
    {
        content:"";
        display:inline-block;      
        height:.5em;
        width: 1em;
        margin-left: 36.8em;
        background-image: url(../img/Arrowdown.svg);
        background-repeat:no-repeat;
        background-position: center;
        background-size: contain;      
        transition: transform .3s ease;
    }
}
    
.drop-items
{
    position: absolute;
    top: calc(100% + .4rem);    
    width: 100%;
    padding:0;
    margin:0;
    margin-top: -20px;
    transition: all .3s ease;    
    background-color: rgba($color: #38383A, $alpha: 1);   
    overflow:hidden;
    max-height:0;
    opacity:0;
    z-index:99;
}      
.item-drop
{
    list-style:none;       
    display:block;
    color: $wh;
    text-decoration: none;
    padding: 0.5rem 0 0.5rem 2rem;
    opacity: 0.4;
    transition: all .3s ease;
    cursor: pointer;
    font-size: 12px;
    line-height: 150%;
    @media (hover: hover) 
    {
        &:hover
        {
            opacity: 1;
        }          
    }
}
    .overlay-close
    {
        position: fixed;    
        top:0;
        left:0;
        bottom:0;
        right:0;
        z-index:9;
        transform: translate(100%,0);
        pointer-events:none;
    }
}
.footer
{
    padding-top: 3.2rem;
    &__flex
    {
        display: flex;
        justify-content: space-between;
        align-items: end;
        border-top: 1px solid rgba($color: $wh, $alpha: 0.5);
        height: 84px;
    }
    &__list
    {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        gap: 2.8rem;
    }
    &__link
    {
        font-size: 1.4rem;
        line-height: 1.5;
    }
    &__tel
    {
        border-right: 2px solid rgba($color: $wh, $alpha: 0.5);
        width: 140px;
        padding-right: 3rem;
    }
    &__mail
    {
        padding-left: 3rem;
    }
    &__under
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 3rem;
    }
    &__copy 
    {
        opacity: 0.3;
        font-size: 12px;
        line-height: 150%;
    }
   
    &__author-text 
    {
        opacity: 0.3;
        font-size: 12px;
        line-height: 150%;
    }

    &__author-link 
    {
        color: $wh;
        opacity: 0.3;
        transition: 0.3s;

        &:hover 
        {
            opacity: 1;
        }
    }
}

