@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$red: #D40000;
$black: #232326;
$wh: #F3F2F0;

$r_mob_400:400px;
$r_mob_500:500px;
$r_mob_600:600px;
$r_mob_700:700px;
$r_tab:768px;
$r_tab_900:900px;
$r_desk:1000px;
$r_desk_hd:1200px;
$r_desk_1280:1280px;


html
{
    font-size: 10px;
    @media (max-width:$r_mob_500) 
    {
        font-size: 8px;
    }
}
body.openModal
{
    height: 100vh;
    overflow-y: hidden;
}
body
{
    font-family: Inter;
    position: relative;
    color: $wh;
    background-color: $black;
}

.container
{
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    z-index: 0;
}
.block
 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}
.link
{
    text-decoration: none;
    transition: 0.3s;
    color: $wh;
    &:hover
    {
        color: $red;
    }
}
.header
{
    background-color: $black;
    margin: 0 auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    @media(max-width: $r_tab)
        {
            position: relative;
            padding-bottom: 0;
        }
    &__list
    {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        gap: 2.8rem;
        @media (max-width: $r_desk)
        {
            gap: 1.5rem;
        }
        @media(max-width: $r_tab)
        {
            display: none;
        }
    }
    &__link
    {
        font-size: 1.4rem;
        line-height: 1.5;
    }
    &__contact
    {
        @media(max-width: $r_tab)
        {
            display: none;
            align-self: flex-start;
        }
    }
    &__tel
    {
        border-right: 2px solid rgba($color: $wh, $alpha: 0.5);
        width: 140px;
        padding-right: 3rem;
        @media (max-width: $r_desk)
        {
            padding-right: 1.5rem;
        }
    }
    &__mail
    {
        padding-left: 3rem;
        @media (max-width: $r_desk)
        {
            padding-left: 1.5rem;
        }
    }
    &__hidetel
    {
        display: none;
        border: none;
        @media(max-width: $r_tab)
        {
            display: block;
            flex-basis: 100%;
        }
    }
    &__menu
    {
        display: none;
        @media(max-width: $r_tab)
        {
            display: block;
            width: 4rem;
            height: 4rem;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 2.5rem 2.5rem;
            background-image: url(../img/burger.svg);
            background-color: transparent;
            position: relative;
            border: none;
            transition: 0.3s;
            opacity: 0.8;
            padding: 0;
            cursor: pointer;
        }
    }
}
.name
{
    padding-top: 2rem;
    margin-top: 10rem;
    z-index: 0;
    @media(max-width: $r_tab)
        {
            margin-top: 2rem;
        }        
    &__h1
    {
        margin-top: 12rem;
        @media (max-width:$r_desk)
        {
            margin-top: 8rem;
        }

    }
    &__block
    {
        margin-top: 10.3rem;
        margin-bottom: 6rem;
        @media (max-width:$r_mob_500) 
        {
            margin-bottom: 3rem;
        }
    }
    &__img
    {
        width: 100%;
        height: auto;
    }
    &__soc
    {
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media(max-width: $r_tab)
        {
            width: 243px;
        } 
        @media (max-width:$r_mob_500) 
        {
            width: 155px;
        }
    }
    &__grid
    {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        align-items: center;
        gap: 1.5rem;
        width: 100%;
        height: 177px;
        border-top: 2px solid rgba($color: $wh, $alpha: 1);
        @media (max-width:$r_desk) 
        {
            grid-template-columns: repeat(2,1fr);
            gap: 2rem;
            height: 300px;
        }
        @media (max-width:$r_mob_500) 
        {
            gap: 0;
            height: 200px;
        }

    }
    &__link
    {
        font-size: 1.6rem;
        border-right: 1px solid rgba($color: $wh, $alpha: 0.5);
        margin-left: 30px;
        &-vk
        {
            width: 43px;
            @media(max-width: $r_tab)
            {
                width: 36px;
            } 
            @media (max-width:$r_mob_500) 
            {
                width: 21px;
            }
        }
        &-inst
        {
            width: 100px;
            @media(max-width: $r_tab)
            {
                width: 93px;
            } 
            @media (max-width:$r_mob_500) 
            {
                width: 60px;
            }
        }
        &-git
        {
            border: none;
        }
        @media(max-width: $r_tab)
        {
            margin-left: 1.5rem;
        } 
        @media (max-width:$r_mob_500) 
        {
            margin-left: 1rem;
            font-size: 1.2rem;
        }
    }
    &__head
    {
        position: relative;
    }
    &__sphere
    {
        position: absolute;
        top: -53px;
        left: -153px;
        z-index: -1;
        @media (max-width:$r_desk)
        {
            width: 200px;
            height: 200px;
            left: -72px;
        }
        @media (max-width:$r_mob_500) 
        {
            width: 135px;
            height: 135px;
            top: -35px;
        }

    }
    &__ellipse
    {
        position: absolute;
        bottom: -42px;
        right: 39px;
        z-index: -1;
        @media(max-width: $r_tab)
        {
            width: 60px;
            bottom: -18px;
            right: 46px;
        } 
        @media (max-width:$r_mob_500) 
        {
            right: 32px;
        }
    }
    &__poly
    {
        display: none;
        position: absolute;
        width: 56px;
        height: 95px;
        top: 93px;
        left: -22px;
        @media (max-width:$r_desk)
        {
            display: block;
        }
        @media (max-width:$r_mob_500) 
        {
            width: 33px;
            height: 41px;
            left: -6px;
            top: 77px;
        }
    }
}
.head-h1
{
    font-size: 7.4rem;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-weight: 700;
    z-index: 2;
        @media (max-width:$r_desk)
        {
            font-size: 6rem;
        }
        @media(max-width: $r_tab)
        {
            font-size: 4rem;
        }
        @media (max-width:$r_mob_500) 
        {
            font-size: 2.8rem;
        } 
    &__name
    {
        display: block;
        font-size: 2.8rem;
        line-height: 1.5;
        padding-bottom: 3.2rem;
        text-transform: none;
        font-weight: 400;
        @media (max-width:$r_desk)
        {
            font-size: 2rem;
            padding-bottom: 2.5rem;
        }
        @media(max-width: $r_tab)
        {
            font-size: 1.8rem;
            padding-bottom: 2rem;
        } 
    }
}
.popup
{
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 700;
    position: relative;
    display: flex;
    align-items: center;
    width: 170px;
    text-decoration: none;
    color: $wh;
    z-index: 1;
    @media (max-width:$r_mob_500) 
    {
        width: 106px;
        font-size: 1.2rem;
    }
    &:hover
    {
       &::before
       {
           width: 100%;
       }
    }
    &::before
    {
        display: block;
        position: absolute;
        content: "";
        height: 2px;
        width: 0;
        background-color: $wh;
        left: 0%;
        transition: 0.3s;
        bottom: -5px;
        
    }
    &::after
    {
        content: '';
        background-image: url(../img/Arrow.svg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 15px;
        height: 12px;
        position: absolute;
        right: 0;
        @media (max-width:$r_mob_500) 
        {
            width: 12px;
            height: 10px;
        }
    }
}
.item
{
    height: 81px;
    &-1
    {
        width: 220px;
        height: 107px;
        @media (max-width: $r_mob_600)
        {
            width: 174px;
        }
        @media (max-width: $r_mob_500)
        {
            width: 142px;
        }
    }
    &-2
    {
        width: 270px;
        height: 107px;
        @media (max-width: $r_mob_600)
        {
            width: 175px;
        }
        @media (max-width: $r_mob_500)
        {
            width: 140px;
        }
    }
    &__h1
    {
        letter-spacing: 0.03em;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 150%;
        margin-bottom: 1.5rem;
        @media (max-width:$r_mob_600) 
        {
            font-size: 1.4rem;
        }
        &-up
        {
            text-transform: uppercase;
        }
    }
    &__text
    {
        font-size: 1.4rem;
        opacity: 0.8;
        line-height: 1.5;
        @media (max-width:$r_mob_600) 
        {
            font-size: 1.2rem;
        }
        &-1
        {
            width: 200px;
            @media (max-width:$r_mob_500) 
            {
                width: 150px;
            }
        }
        &-2
        {
            width: 212px;
            @media (max-width:$r_mob_500) 
            {
                width: 158px;
            }
        }
        &-3
        {
            width: 204px;
            @media (max-width:$r_mob_600) 
            {
                width: 190px;
            }
            @media (max-width:$r_mob_500) 
            {
                width: 150px;
            }
        }
        &-4
        {
            width: 239px;
            @media (max-width:$r_mob_500) 
            {
                width: 170px;
            }
        }
    }
    &__br
    {
        display: none;
        @media (max-width: $r_mob_500)
        {
            display: block;
        }
    }
}
.about
{
    padding-top: 15rem;
    @media (max-width:$r_desk)
    {
        padding-top: 5rem;
    }
    &__flex
    {
        display: flex;
        border-bottom: 1px solid rgba($color: $wh, $alpha: 1);
        justify-content: space-between;
        height: 228px;
        @media (max-width:$r_tab_900)
        {
            height: 140px;
        }
        @media (max-width:$r_tab)
        {
            display: block;
            height: 180px;
        }
       
    }
    &__h1
    {
        font-weight: 700;
        font-size: 2.8rem;
        line-height: 150%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        @media (max-width:$r_tab_900)
        {
            font-size: 2rem;
        }
        @media (max-width:$r_tab)
        {
            padding-bottom: 2rem;
        }
        @media (max-width:$r_mob_600)
        {
            font-size: 1.8rem;
        }
    }
    &__box
    {
        width: 560px;
        height: 168px;
        @media (max-width:$r_tab_900)
        {
            width: 500px;
        }
        @media (max-width:$r_mob_600)
        {
            width: 400px;
        }
        @media (max-width:$r_mob_500)
        {
            width: 300px;
        }
    }
    &__text
    {
        font-size: 2.8rem;
        line-height: 150%;
        opacity: 0.8;
        margin: 0;
        padding: 0;
        @media (max-width:$r_tab_900)
        {
            font-size: 2rem;
        }
        @media (max-width:$r_mob_600)
        {
            font-size: 1.8rem;
        }
    }
    &__grid
    {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        padding-left: 58rem;
        padding-top: 2rem;
        height: 324px;
        width: 560px;
        @media (max-width: $r_desk_hd)
        {
            padding-left: 0;
            width: 100%;
            justify-content: center;
        }
        @media (max-width: $r_mob_500)
        {
            height: 220px;
        }
    }
    &__br
    {
        @media (max-width:$r_tab_900)
        {
            display: none;
        }
        @media (max-width:$r_mob_500)
        {
            display: block;
        }
    }
}
.stage
{
    padding-top: 16rem;
    z-index: 0;
    @media (max-width: $r_tab_900)
    {
        padding-top: 12rem;
    }
    @media (max-width: $r_mob_600)
    {
        padding-top: 8rem;
    }
    @media (max-width: $r_mob_500)
    {
        padding-top: 6rem;
    }
    &__flex
    {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid rgba($color: $wh, $alpha: 1);
        height: 102px;
        &-3
        {
            border-bottom: 1px solid rgba($color: $wh, $alpha: 1)
        }
        @media (max-width: $r_tab_900)
        {
            height: 125px;
        }
        @media (max-width: $r_mob_500)
        {
            height: 102px;
        }
    }
    &__h1
    {
        font-size: 28px;
        line-height: 150%;
        font-weight: 400;
        @media (max-width: $r_desk_1280)
        {
            width: 427px;
        }
        @media (max-width: $r_mob_600)
        {
            width: 244px;
        }
        @media (max-width: $r_mob_500)
        {
            font-size: 1.8rem;
            width: 136px;
        }
    }
    &__text
    {
        font-size: 16px;
        line-height: 150%;
        opacity: 0.8;
        @media (max-width: $r_tab)
        {
            width: 153px;
        }
        @media (max-width: $r_mob_500)
        {
            font-size: 1.4rem;
        }
        @media (max-width: $r_mob_500)
        {
            width: 127px;
        }
        &-2 
        {
            @media (max-width: $r_mob_500)
            {
                width: 153px;
            }
        }
    }
    &__box
    {
        width: 550px;
        @media (max-width: $r_tab)
        {
            width: 170px;
        }
        @media (max-width: $r_mob_500)
        {
            width: 154px;
        }
    }
    &__number
    {
        padding-right: 2.9rem;
        @media (max-width: $r_tab)
        {
            padding-right: 0rem;
        }

    }
    &-h1
    {
        letter-spacing: normal;
        padding-bottom: 9rem;
        padding-top: 14rem;
        @media (max-width: $r_mob_500)
        {
            padding-bottom: 5rem;
            padding-top: 9rem;
        }
    }
    &__ellipse
    {
        position: absolute;
        bottom: -191px;
        right: 345px;
        z-index: -1;
        @media (max-width: $r_desk)
        {
            width: 350px;
            height: 350px;
            right: 70px;
        }
        @media (max-width: $r_tab)
        {
            width: 325px;
            height: 325px;
            bottom: -143px;
        }
        @media (max-width: $r_mob_500)
        {
            width: 153px;
            height: 153px;
            bottom: -50px;
        }
    }
    &__br
    {
        display: none;
        @media (max-width: $r_desk)
        {
            display: block;
        }
    }
}
.portfolio
{
    background: linear-gradient(180deg, #141416 0%, rgba(20, 20, 22, 0) 100%);
    z-index: 0;
    &__flex
    {
        display: flex;
        border-bottom: 1px solid rgba($color: $wh, $alpha: 1);
        justify-content: space-between;
        align-items: center;
        height: 436px;
        @media (max-width: $r_desk)
        {
            display: block;
            height: 600px;
            padding-top: 4rem;
        }
        @media (max-width: $r_mob_500)
        {
            height: 469px;
        }
        @media (max-width: $r_mob_400)
        {
            height: 440px;
        }
    }
    &__h1
    {
        font-weight: 700;
        font-size: 2.8rem;
        line-height: 150%;
        @media (max-width: $r_mob_500)
        {
            font-size: 1.8rem;
        }
    }
    &__list
    {
        list-style-type: none;
        margin-top: 3rem;
        padding-left: 0;
    }
    &__item
    {
        font-size: 1.6rem;
        line-height: 150%;
        opacity: 0.8;
        padding-top: 1rem;
        @media (max-width: $r_mob_500)
        {
            font-size: 1.4rem;
        }
    }
    &__time
    {
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 150%;
        opacity: 0.8;
        padding-top: 2rem;
        @media (max-width: $r_mob_500)
        {
            font-size: 1.4rem;
        }
    }
    &__img
    {
        display: block;
        background-image: url(../img/fitness.png);
        width: 560px;
        height: 315px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        @media (max-width: $r_desk)
        {
            width: auto;
        }
        @media (max-width: $r_mob_500)
        {
            height: 263px;
        }
    }
    &__img-2
    {
        display: block;
        background-image: url(../img/shop.png);
        width: 560px;
        height: 315px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        @media (max-width: $r_desk)
        {
            width: auto;
        }
        @media (max-width: $r_mob_500)
        {
            height: 263px;
        }
    }
    &__des
    {
        padding-top: 15rem;
        border-bottom: 1px solid rgba($color: $wh, $alpha: 1);
        height: 230px;
        width: auto;
        @media (max-width: $r_desk)
        {
            padding-top: 12rem;
        }
        @media (max-width: $r_tab)
        {
            height: 260px;
        }
        @media (max-width: $r_mob_600)
        {
            height: 200px;
            padding-top: 8rem;
        }
        @media (max-width: $r_mob_500)
        {
            height: 160px;
            padding-top: 4rem;
        }
    }
    &__describ
    {
        font-size: 2.8rem;
        line-height: 150%;
        width: 870px;
        @media (max-width: $r_desk)
        {
            width: auto;
        }
        @media (max-width: $r_tab)
        {
            font-size: 2.5rem;
        }
        @media (max-width: $r_mob_600)
        {
            font-size: 2rem;
        }
        @media (max-width: $r_mob_400)
        {
            font-size: 1.8rem;
        }
    }
    &__grid
    {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding-top: 7rem;
        align-items: center;
        gap: 5rem;
        padding-bottom: 16rem;
        @media (max-width: $r_desk_hd)
        {
            grid-template-columns: repeat(2,1fr);
            justify-content: center;
        }
        @media (max-width: $r_tab_900)
        {
            gap: 2rem;
        }
        @media (max-width: $r_tab)
        {
            grid-template-columns: repeat(1,1fr);
            padding-bottom: 9rem;
        }
    }
    &__item-grid
    {
        display: flex;
        align-items: center;
    }
    &__image
    {
        width: 40px;
        height: 40px;
        @media (max-width: $r_mob_400)
        {
            width: 30px;
            height: 30px;
        }
    }
    &__text-grid
    {
        padding-left: 4rem;
        width: 244px;
        @media (max-width: $r_mob_500)
        {
            width: 240px;
        }
        @media (max-width: $r_mob_400)
        {
            width: 206px;
        }
    }
    &__h1-grid
    {
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 19px;
        @media (max-width: $r_mob_400)
        {
            font-size: 1.4rem;
        }
    }
    &__des-grid
    {
        font-size: 1.4rem;
        line-height: 150%;
        opacity: 0.8;
        @media (max-width: $r_mob_400)
        {
            font-size: 1.2rem;
        }
    }
    &__table
    {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        align-items: center;
        padding-bottom: 4rem;
    }
    &__elem
    {
        border: 1px solid rgba($color: $wh, $alpha: 0.5);
        width: auto;
        height: 148px;
        align-items: center;
        display: flex;
        justify-content: center;
        transition: 0.3s;
        cursor: pointer;
        &:hover
        {
            border: 1px solid rgba($color: $wh, $alpha: 1);
            .portfolio__element
            {
                filter: grayscale(0);
                opacity: 1;
                transform: scale(1.1);
            }
            .portfolio__tooltiptext
            {
                visibility: visible;
                opacity: 1;
            }
        }
        @media(max-width:$r_mob_500)
        {
            height: 60px;
        }
    }
    &__element
    {
        filter: grayscale(1); 
        opacity: 0.5;
        transition: 0.3s;

        &-html
        {
            width: 78px;
            height: 85px;
            @media(max-width:$r_tab)
            {
                width: 54px;
                height: 61px;
            }
            @media(max-width:$r_mob_500)
            {
                width: 24px;
                height: 25px;
            }
        }
        &-css
        {
            width: 76px;
            height: 82px;
            @media(max-width:$r_tab)
            {
                width: 54px;
                height: 61px;
            }
            @media(max-width:$r_mob_500)
            {
                width: 24px;
                height: 25px;
            }
        }
        &-java
        {
            width: 72px;
            height: 77px;
            @media(max-width:$r_tab)
            {
                width: 52px;
                height: 57px;
            }
            @media(max-width:$r_mob_500)
            {
                width: 24px;
                height: 25px;
            }
        }
        &-jq
        {
            width: 76px;
            height: 82px;
            @media(max-width:$r_tab)
            {
                width: 56px;
                height: 62px;
            }
            @media(max-width:$r_mob_500)
            {
                width: 24px;
                height: 25px;
            }
        }
        &-solid
        {
            width: 71px;
            height: 71px;
            @media(max-width:$r_tab)
            {
                width: 51px;
                height: 51px;
            }
            @media(max-width:$r_mob_500)
            {
                width: 25px;
                height: 25px;
            }
        }
        &-php
        {
            width: 105px;
            height: 55px;
            @media(max-width:$r_tab)
            {
                width: 85px;
                height: 35px;
            }
            @media(max-width:$r_mob_500)
            {
                width: 32px;
                height: 17px;
            }
        }
        &-vue
        {
            width: 81px;
            height: 70px;
            @media(max-width:$r_tab)
            {
                width: 61px;
                height: 50px;
            }
            @media(max-width:$r_mob_500)
            {
                width: 25px;
                height: 21px;
            }
        }
        &-word
        {
            width: 71px;
            height: 71px;
            @media(max-width:$r_tab)
            {
                width: 51px;
                height: 51px;
            }
            @media(max-width:$r_mob_500)
            {
                width: 22px;
                height: 22px;
            }
        }
    }
    &__top
    {
        display: block;
        padding-bottom: 0.7rem;
    }
    &__tooltip
    {
        position: relative;
        display: inline-block;
    }
    &__tooltiptext 
    {
        visibility: hidden;
        width: 188px;
        background-color: $red;
        color: $wh;
        text-align: center;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        top: 113%;
        left: 0;
        margin-left: -60px;
        font-weight: 500;
        font-size: 1rem;
        line-height: 150%;
        opacity: 0.2;
        transition: 0.3s;
        @media(max-width:$r_tab)
        {
            width: 156px;
            left: 9px;
            top: 120%;
        }
        @media(max-width:$r_mob_500)
        {
            width: 98px;
            left: 24px;
        }
        &-vue
        {
            left: 6px;
            @media(max-width:$r_tab)
            {
                left: 13px;
            }
            @media(max-width:$r_mob_500)
            {
                left: 24px;
            }
        }
        &-php
        {
            left: 18px;
            @media(max-width:$r_tab)
            {
                left: 24px;
            }
            @media(max-width:$r_mob_500)
            {
                left: 26px;
            }
        }
        &-word
        {
            left: 5px;
            @media(max-width:$r_tab)
            {
                left: 8px;
            }
            @media(max-width:$r_mob_500)
            {
                left: 22px;
            }

        }
        @media(max-width:$r_mob_500)
        {
            top: 124%;
        }
        &::after 
        {
            content: "";
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent $red  transparent;
        }
        
    }

}
.price
{
    padding-top: 14rem;
    @media(max-width:$r_tab)
    {
        padding-top: 9rem;
    }
    &__head
    {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding-bottom: 8rem;
        @media(max-width:$r_tab)
        {
            display: block;
        }
    }
    &__el
    {
        position: absolute;
        top: -51px;
        left: -68px;
        z-index: -1;
        @media(max-width:$r_tab)
        {
            left: -86px;
            top: -55px;
        }
    }
    &__top
    {
        font-weight: 700;
        font-size: 28px;
        line-height: 150%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin: 0;
        @media(max-width:$r_tab)
        {
            font-size: 2rem;
            padding-bottom: 2rem;
        }
        @media(max-width:$r_mob_400)
        {
            font-size: 1.8rem;
        }
    }
    &__des
    {
        font-size: 2.8rem;
        line-height: 150%;
        opacity: 0.8;
        width: 548px;
        height: 168px;
        margin: 0;
        @media(max-width:$r_tab)
        {
            width: 75%;
            font-size: 2rem;
            height: 85px;
        }
        @media(max-width:$r_mob_500)
        {
            width: auto;
        }
        @media(max-width:$r_mob_400)
        {
            font-size: 1.8rem;
        }
    }
    &__item
    {
        border-top: 1px solid rgba($color: $wh, $alpha: 1);
        padding-top: 4rem;
        &-3
        {
            @media(max-width:$r_tab)
            {
                border-bottom: 1px solid rgba($color: $wh, $alpha: 1);
            }
        }
    }
    &__first
    {
        display: flex;
        justify-content: start;
    }
    &__h1
    {
        font-size: 2.8rem;
        line-height: 150%;
        width: 382px;
        font-weight: 400;
        @media(max-width:$r_tab)
        {
            font-size: 2.2rem;
            width: 250px;
        }
        @media(max-width:$r_mob_600)
        {
            font-size: 1.6rem;
        }
        @media(max-width:$r_mob_500)
        {
            width: 88px;
        }
    }
    &__br
    {
        display: none;
        @media(max-width:$r_tab)
        {
            display: block;
        }
    }
    &__descrip
    {
        display: block;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 150%;
        opacity: 0.8;
        padding-top: 2rem;
        @media(max-width:$r_tab)
        {
            font-size: 1.3rem;
        }
        @media(max-width:$r_mob_600)
        {
            font-size: 1rem;
        }
    }
    &__list
    {
        padding-left: 22.5rem;
        @media(max-width:$r_tab_900)
        {
            padding-left: 9rem;
        }
        @media(max-width:$r_mob_600)
        {
            padding-left: 4rem;
        }
        @media(max-width:$r_mob_500)
        {
            padding-left: 9rem;
        }

    }
    &__enter
    {
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 150%;
        margin-left: -17px;
        @media(max-width:$r_tab)
        {
            font-size: 1.4rem;
        }
        @media(max-width:$r_mob_600)
        {
            font-size: 1.2rem;
        }
    }
    &__stage
    {
        font-size: 1.6rem;
        line-height: 200%;
        opacity: 0.8;
        padding-top: 0.7rem;
        @media(max-width:$r_tab)
        {
            font-size: 1.4rem;
        }
        @media(max-width:$r_mob_600)
        {
            font-size: 1.2rem;
        }
    }
    &__second
    {
        display: flex;
        align-items: center;
        justify-content: start;
        position: relative;
    }
    &__elsmal
    {
        position: absolute;
        top: -13px;
        right: 173px;
        z-index: -1;
        width: 90px;
        height: 90px;
        @media(max-width:$r_tab)
        {
            width: 65px;
            height: 65px;
            right: 136px;
            top: -11px;
        }
        @media(max-width:$r_mob_600)
        {
            width: 40px;
            height: 40px;
            right: 101px;
            top: -3px;
        }
        @media(max-width:$r_mob_500)
        {
            right: 81px;
            top: -6px;
        }
        &-2
        {
            right: 197px;
            @media(max-width:$r_tab)
            {
                right: 151px;
                top: -9px;
            }
            @media(max-width:$r_mob_600)
            {
                right: 113px;
                top: -3px;
            }
            @media(max-width:$r_mob_500)
            {
                right: 91px;
                top: -6px;
            }
        }
       
    }
    &__rub
    {
        font-weight: 700;
        font-size: 4.2rem;
        line-height: 150%;
        padding-left: 42rem;
        z-index: 1;
        position: relative;
        @media(max-width:$r_tab_900)
        {
            padding-left: 28.5rem;
        }
        @media(max-width:$r_tab)
        {
            font-size: 3.2rem;
            padding-left: 15rem;
        }
        @media(max-width:$r_mob_600)
        {
            padding-left: 10rem;
            font-size: 2.4rem;
        }
        @media(max-width:$r_mob_500)
        {
            padding-left: 5rem;
        }
    }
}
.form
{
    padding-top: 15rem;
    &__wrapper
    {
        display: flex;
        justify-content: center;
    }
    &__head
    {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding-bottom: 5.5rem;
        position: relative;
        border-bottom: 1px solid rgba($color: $wh, $alpha: 1);
        @media(max-width:$r_desk)
        {
            display: block;
        }
    }
    &__h1
    {
        font-weight: 700;
        font-size: 2.8rem;
        line-height: 150%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin: 0;
        @media(max-width:$r_mob_600)
        {
            font-size: 1.8rem;
        }
    }
    &__text
    {
        font-size: 2.8rem;
        line-height: 150%;
        opacity: 0.8;
        width: 548px;
        margin: 0;
        @media(max-width:$r_desk)
        {
            padding-top: 2rem;
        }
        @media(max-width:$r_mob_600)
        {
            font-size: 1.8rem;
            width: 312px;
        }
        @media(max-width:$r_mob_500)
        {
            width: 282px;
        }
    }
    &__img
    {
        position: absolute;
        top: -32px;
        left: -181px;
        z-index: -1;
        width: 331px;
        height: 331px;
        &-poly
        {
            display: none;
            position: absolute;
            top: -72px;
            left: 50px;
            z-index: -1;
            width: 40px;
            height: 43px;
            @media(max-width:$r_desk)
            {
                display: block;
            }
            @media(max-width:$r_mob_500)
            {
                width: 31px;
                height: 33px;
                top: -54px;
                left: 43px;
            }
        }
        @media(max-width:$r_desk)
        {
            width: 250px;
            height: 250px;
            top: -85px;
            left: -140px;
        }
        @media(max-width:$r_mob_500)
        {
            width: 190px;
            height: 190px;
            top: -73px;
            left: -117px;
        }
    }
    &__flex
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 6rem;
        padding-bottom: 10rem;
        @media(max-width:$r_desk)
        {
            flex-direction: column-reverse;
            justify-content: center;
            padding-bottom: 6rem;
        }
    }
    &__soc
    {
        width: 277px;
        display: flex;
        align-self: flex-end;
        @media(max-width:$r_desk)
        {
            align-self: center;
            width: auto;
            padding-top: 5rem;
        }
    }
    &__link
    {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 150%;
        color: $wh;
        transition: 0.3s;
        text-decoration: none;
        width: 50px;
        border-right: 2px solid rgba($color: $wh, $alpha: 0.5);
        margin-left: 30px;
        @media(max-width:$r_tab)
        {
            margin-left: 15px;
        }
        &-vk
        {
            width: 43px;
            margin-left: 0px;
            padding: 0;
            @media(max-width:$r_tab)
            {
                width: 34px;
            }
            @media(max-width:$r_mob_500)
            {
                width: 28px;
            }
        }
        &-inst
        {
            width: 100px;
            @media(max-width:$r_tab)
            {
                width: 90px;
            }
            @media(max-width:$r_mob_500)
            {
                width: 75px;
            }
        }
        &-git
        {
            border: none;
        }
        &:hover
        {
            color: $red;
        }
    }
    &__wrap
    {
        width: 560px;
        @media(max-width:$r_tab)
        {
            width: 370px;
        }
        @media(max-width:$r_mob_500)
        {
            width: 261px;
        }
    }
    &__label
    {
        display: block;
        font-size: 12px;
        line-height: 150%;
        opacity: 0.8;
        padding-bottom: 1rem;
    }
    &__input
    {
        background-color: rgba($color: $wh, $alpha: 0.1);
        font-size: 1.8rem;
        font-weight: 400;
        border: none;
        margin-bottom: 20px;
        outline: none;
        width: 95%;
        padding-left: 12.5px;
        padding-right: 12.5px;
        height: 60px;
        color: $wh;

        &::placeholder
        {
            font-weight: 400;
            font-size: 12px;
            line-height: 150%;
            opacity: 0.4;
        }
    }
    &__button
    {
        display: block;
        border: none;
        background-color: $red;
        color: $wh;
        padding: 20px 235px;
        margin-top: 4rem;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        cursor: pointer;
        transition: 0.3s;
        @media(max-width:$r_tab)
        {
            padding: 20px 147px;
        }
        @media(max-width:$r_mob_500)
        {
            padding: 20px 94px;
        }
        &:hover
        {
            background-color: #EA0E00;
        }
    }
}

.drop
{
    display:inline-block;
    position: relative;
    
    &__input
    {
      display:none;
      &:checked
      {
        ~.drop-items
        {
          opacity:1;
          max-height: 400px;
          padding: .6rem 0;
        }
        ~.control
        {       
          z-index:99;
          &:after{transform: rotate(180deg);}
        }
        ~.overlay-close
        {
          transform: none;
          pointer-events:initial;
        }
      }
    }
    
.control
{
    position:relative;
    color: $wh;
    display:inline-block;
    cursor: pointer;
    padding: 23.5px 20px 23.5px 20px;
    background-color: rgba($color: $wh, $alpha: 0.1);
    transition: all .3s ease;
    font-size: 12px;
    line-height: 150%; 
    width: 518px;
    @media(max-width:$r_tab)
    {
        width: 340px;
    }
    @media(max-width:$r_mob_500)
    {
        width: 235px;
    }
    &:after
    {
        content:"";
        display:inline-block;      
        height:.5em;
        width: 1em;
        margin-left: 430px;
        background-image: url(../img/Arrowdown.svg);
        background-repeat:no-repeat;
        background-position: center;
        background-size: contain;      
        transition: transform .3s ease;
        @media(max-width:$r_tab)
        {
            margin-left: 268px;
        }
        @media(max-width:$r_mob_500)
        {
            margin-left: 168px;
        }
    }
}
    
.drop-items
{
    position: absolute;
    top: calc(100% + .4rem);    
    width: 100%;
    padding:0;
    margin:0;
    margin-top: -20px;
    transition: all .3s ease;    
    background-color: rgba($color: #38383A, $alpha: 1);   
    overflow:hidden;
    max-height:0;
    opacity:0;
    z-index:99;
}      
.item-drop
{
    list-style:none;       
    display:block;
    color: $wh;
    text-decoration: none;
    padding: 0.5rem 0 0.5rem 2rem;
    opacity: 0.4;
    transition: all .3s ease;
    cursor: pointer;
    font-size: 12px;
    line-height: 150%;
    @media (hover: hover) 
    {
        &:hover
        {
            opacity: 1;
        }          
    }
}
    .overlay-close
    {
        position: fixed;    
        top:0;
        left:0;
        bottom:0;
        right:0;
        z-index:9;
        transform: translate(100%,0);
        pointer-events:none;
    }
}
.footer
{
    padding-top: 3.2rem;
    &__flex
    {
        display: flex;
        justify-content: space-between;
        align-items: end;
        border-top: 1px solid rgba($color: $wh, $alpha: 1);
        height: 84px;
        @media(max-width:$r_tab_900)
        {
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
            padding-top: 4rem;
        }
        @media(max-width:$r_mob_600)
        {
            padding-top: 2rem;
        }
    }
    &__contact
    {
        @media(max-width:$r_tab_900)
        {
            padding-bottom: 2rem;
        }
    }
    &__list
    {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        gap: 2.8rem;
        @media(max-width:$r_mob_600)
        {
            gap: 1.8rem;
        }
        @media(max-width:$r_mob_500)
        {
            gap: 1rem;
        }
    }
    &__link
    {
        font-size: 1.4rem;
        line-height: 1.5;
        @media(max-width:$r_mob_600)
        {
            font-size: 1.2rem;
        }
    }
    &__tel
    {
        border-right: 2px solid rgba($color: $wh, $alpha: 0.5);
        width: 140px;
        padding-right: 3rem;
        @media(max-width:$r_mob_600)
        {
            padding-right: 1.5rem;
        }
    }
    &__mail
    {
        padding-left: 3rem;
        @media(max-width:$r_mob_600)
        {
            padding-left: 1.5rem;
        }
    }
    &__under
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 3rem;
        @media(max-width:$r_mob_600)
        {
            flex-direction: column;
            justify-content: center;
            padding-top: 1.5rem;
        }
        @media(max-width:$r_mob_500)
        {
            padding-top: 0;
        }
    }
    &__copy 
    {
        opacity: 0.3;
        font-size: 1.2rem;
        line-height: 150%;
    }
   
    &__author-text 
    {
        opacity: 0.3;
        font-size: 1.2rem;
        line-height: 150%;
    }

    &__author-link 
    {
        color: $wh;
        opacity: 0.6;
        transition: 0.3s;

        &:hover 
        {
            opacity: 1;
        }
    }
}
.background 
{
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0px;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.7);
    border: none;
    z-index: 3;

}
.popupmax
{
    background-color: $black;
    max-width: 587px;
    margin: 174px auto;
    position: relative;
    @media(max-width:$r_mob_700)
    {
        margin: 174px 50px;
    }
    @media(max-width:$r_mob_600)
    {
        margin: 174px 35px;
    }
    @media(max-width:$r_mob_500)
    {
        margin: 174px 10px;
    }
    &__form
    {
        padding-top: 5.5rem;
        padding-bottom: 4rem;
    }
    &__head
    {
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 3rem;
    }
    &__h1
    {
        font-size: 2.2rem;
        @media(max-width:$r_mob_600)
        {
           font-size: 1.8rem;
        }
    }
    &__br
    {
        display: block;
        @media(max-width:$r_mob_600)
        {
            display: none;
        }
    }
    &__brr
    {
        display: none;
        @media(max-width:$r_mob_600)
        {
            display: block;
        }
    }
    &__text
    {
        font-size: 1.6rem;
        height: auto;
        width: 100%;
    }
    &__wrap
    {
        padding-top: 4rem;
    }
    &__control
    {
        width: 531px;
    }

}
.background:target 
{
    display: block;
}
.popup-close 
{
    display: block;
    width: 20px;
    height: 20px;
    border-color: transparent;
    background-image: url(../img/close.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 2;
} 
.modal
{
    max-width: 100%;
    background-color: $black;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: -450px;
    margin: 0 auto;
    transition: 0.5s;
    padding: 30px 10px 20px 10px;
    box-sizing: border-box;
    height: 460px;
    z-index: 99;
    display: none;
    @media (max-width: $r_tab) 
    {
        display: block;
    }
    @media (max-width: $r_mob_500) 
    {
        height: 370px;
    }
    &__list
    {
        display: block;
        padding-top: 4rem;
        opacity: 0.8;
        padding-bottom: 1rem;
        &::hover
        {
            opacity: 1;
        }
    }
    &__item
    {
        border-top: 1px solid rgba($color: $wh, $alpha: 0.5);
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    &__link
    {
        font-size: 2rem;
    }
    &__close 
    {
        width: 20px;
        height: 20px;
        background-color: transparent;
        background-image: url(../img/close.svg);
        background-repeat: no-repeat;
        background-size: contain;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 32px;
        right: 11px;
        opacity: 0.7;
        transition: 0.3s;
        &:hover
        {
            opacity: 1;
        }
    }
    &__contact
    {
        display: block;
        padding-bottom: 1rem;
    }
    &__soc
    {
        width: auto;
        display: block;
        align-self: auto;
    }
    &__socity
    {
        padding-right: 1rem;
        margin-left: 0;
        padding-left: 1rem;
        font-size: 1.2rem;
    }
}




