@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$red: #D40000;
$black: #232326;
$wh: #F3F2F0;
$dark: #141416;

$r_mob_500: 500px;

html
{
    font-size: 10px;
    @media (max-width:$r_mob_500) 
    {
        font-size: 8px;
    }
}
body
{
    font-family: Inter;
    position: relative;
    color: $wh;
    background-color: $black;
}

.container
{
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    z-index: 0;
}
.block
 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}
.link
{
    text-decoration: none;
    transition: 0.3s;
    color: $wh;
    &:hover
    {
        color: $red;
    }
}
.header
{
    background-color: $black;
    margin: 0 auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    &__nav
    {
        flex-basis: 270%;
    }
    &__list
    {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        gap: 2.8rem;

    }
    &__link
    {
        font-size: 1.4rem;
        line-height: 1.5;
    }
    &__tel
    {
        border-right: 2px solid rgba($color: $wh, $alpha: 0.5);
        width: 140px;
        flex-basis: 37%;
    }
    &__mail
    {
        padding-left: 10px;
    }
}
.name
{
    padding-top: 2rem;
    margin-top: 10rem;
    z-index: 0;
    &__h1
    {
        margin-top: 12rem;
    }
    &__block
    {
        margin-top: 10.3rem;
        margin-bottom: 6rem;
    }
    &__img
    {
        width: 100%;
        height: auto;
    }
    &__soc
    {
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__flex
    {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 9.5rem;
        width: 100%;
        height: 177px;
        border-top: 2px solid rgba($color: $wh, $alpha: 0.5);
    }
    &__link
    {
        font-size: 1.6rem;
        border-right: 1px solid rgba($color: $wh, $alpha: 0.5);
        margin-left: 30px;
        &-vk
        {
            width: 43px;
        }
        &-inst
        {
            width: 100px;
        }
        &-git
        {
            border: none;
        }
    }
    &__head
    {
        position: relative;
    }
    &__sphere
    {
        position: absolute;
        top: -53px;
        left: -153px;
        z-index: -1;
    }
    &__ellipse
    {
        position: absolute;
        bottom: -42px;
        right: 39px;
        z-index: -1;
    }
}
.head-h1
{
    font-size: 7.4rem;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-weight: 700;
    z-index: 2;
    &__name
    {
        display: block;
        font-size: 2.8rem;
        line-height: 1.5;
        padding-bottom: 3.2rem;
        text-transform: none;
        font-weight: 400;
    }
}
.popup
{
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 700;
    position: relative;
    display: flex;
    align-items: center;
    width: 170px;
    text-decoration: none;
    color: $wh;
    z-index: 1;
    &:hover
    {
       &::before
       {
           width: 100%;
       }
    }
    &::before
    {
        display: block;
        position: absolute;
        content: "";
        height: 2px;
        width: 0;
        background-color: $wh;
        left: 0%;
        transition: 0.3s;
        bottom: -5px;
    }
    &::after
    {
        content: '';
        background-image: url(../img/Arrow.svg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 15px;
        height: 12px;
        position: absolute;
        right: 0;
    }
}
.item
{
    height: 81px;
    &-1
    {
        width: 220px;
        height: 107px;
    }
    &-2
    {
        width: 270px;
        height: 107px;
    }
    &__h1
    {
        letter-spacing: 0.03em;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 150%;
        margin-bottom: 1.5rem;
        &-up
        {
            text-transform: uppercase;
        }
    }
    &__text
    {
        font-size: 1.4rem;
        opacity: 0.8;
        line-height: 1.5;
        &-1
        {
            width: 200px;
        }
        &-2
        {
            width: 212px;
        }
        &-3
        {
            width: 204px;
        }
        &-4
        {
            width: 239px;
        }
    }
}
.about
{
    padding-top: 15rem;
    &__flex
    {
        display: flex;
        border-bottom: 1px solid rgba($color: $wh, $alpha: 0.5);
        justify-content: space-between;
        height: 228px;
    }
    &__h1
    {
        font-weight: 700;
        font-size: 2.8rem;
        line-height: 150%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
    }
    &__box
    {
        width: 560px;
        height: 168px;
    }
    &__text
    {
        font-size: 2.8rem;
        line-height: 150%;
        opacity: 0.8;
        margin: 0;
        padding: 0;
    }
    &__grid
    {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        padding-left: 58rem;
        padding-top: 2rem;
        height: 324px;
        width: 560px;
    }
}
.stage
{
    padding-top: 16rem;
    z-index: 0;
    &__flex
    {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid rgba($color: $wh, $alpha: 0.5);
        height: 102px;
    }
    &__h1
    {
        font-size: 28px;
        line-height: 150%;
        font-weight: 400;
    }
    &__text
    {
        font-size: 16px;
        line-height: 150%;
        opacity: 0.8;
    }
    &__box
    {
        width: 550px;
    }
    &__number
    {
        padding-right: 2.9rem;
    }
    &-h1
    {
        letter-spacing: normal;
        padding-bottom: 9rem;
        padding-top: 14rem;
    }
    &__ellipse
    {
        position: absolute;
        bottom: -191px;
        right: 345px;
        z-index: -1;
    }
}
.portfolio
{
    background-color: $dark;
    z-index: 0;
    &__flex
    {
        display: flex;
        border-bottom: 1px solid rgba($color: $wh, $alpha: 0.5);
        justify-content: space-between;
        align-items: center;
        height: 436px;
    }
    &__h1
    {
        font-weight: 700;
        font-size: 28px;
        line-height: 150%;

    }
    &__list
    {
        list-style-type: none;
        margin-top: 3rem;
        padding-left: 0;
    }
    &__item
    {
        font-size: 16px;
        line-height: 150%;
        opacity: 0.8;
        padding-top: 1rem;
    }
    &__time
    {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        opacity: 0.8;
        padding-top: 2rem;
    }
    &__img
    {
        background-image: url(../img/fitness.png);
        width: 560px;
        height: 315px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    &__img-2
    {
        background-image: url(../img/shop.png);
        width: 560px;
        height: 315px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    &__des
    {
        padding-top: 18rem;
    }
    &__describ
    {
        font-size: 28px;
        line-height: 150%;
        width: 870px;
    }
}
